<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="./tests/phpunit/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <php>
        <ini name="display_errors" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">includes/</directory>
			<directory suffix=".php">upgrades/</directory>
		</whitelist>
	</filter>
</phpunit>
